html, body {
    background-image: url('/nic/image/nic.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.half {
    float: left;
    position: relative;
    width: 50%;
    min-width: 5em;
    height: 100%;
    /*background-color: rgba(222, 111, 222, 0.5);*/
}

.login {
    float: left;
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border-radius: 5%;
    border: 0.3em solid rgba(172, 204, 119, 1);
    /*background-color: rgba(4, 111, 222, 0.5);*/
}

.line {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1em;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: rgba(4, 111, 222, 0.5);*/
}

.errorPic {
    height: 10em;
}

.errorText {
    font-size: 1.5em;
    font-family: 微软雅黑;
    color: rgba(172, 204, 119, 1);
}

