html,body {
    background-image: url('/nic/image/nic.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /*background-color: yellow;*/
}

/*不知道干嘛的，反正删了会gg*/
form p > * {
    display: inline-block;
    vertical-align: middle;
}


.login {
    display: table;
    border: none;
}

/*半页*/
.wrapper {
    width: 50%;
    height: 100%;
    min-width: 5em;
    /*background-color: rgba(222, 111, 222, 0.5);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*登录的那个框*/
.frame {
    height: 45%;
    width: 60%;
    /*background-color: rgba(123, 255, 255, 0.5);*/
    border-radius: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3em solid rgba(172, 204, 119 , 1);
}

/*头像*/
.avatar{
    /*width:20%;*/
    height: 20%;
    line-height: 20%;
    text-align: center;
    /*background-color: rgba(172, 204, 119 , 1);*/
    border: 0.25em solid rgba(172, 204, 119 , 1);
    border-radius: 100%;
}

/*文本框绿头*/
.label_input {
    width: 20%;
    height: 12%;
    line-height: 20%;
    text-align: center;
    background-color: rgba(172, 204, 119, 0.8);
}

/*账号密码图片*/
.labelPicture{
    /*width: 100%;*/
    height: 80%;
}

/*文本框*/
.text_field {
    width: 80%;
    height: 12%;
    color: darkgreen;
    border: double;
    border-width: 0.5em;
    border-color: rgba(172, 204, 119 , 1);
}

/*登录按钮*/
.btn_login {
    font-size: 100%;
    font-family: 微软雅黑;
    width: 100%;
    height: 12%;
    line-height: 15%;
    text-align: center;
    color: darkgreen;
    background-color: rgba(172, 204, 119 , 1);
    border: 0;
    /*float: left;*/
}

/*忘记密码效果*/
#forget_pwd {
    font-size: 1em;
    color: rgba(172, 204, 119 , 1);
    text-decoration: none;
    position: relative;
    float: left;
    text-decoration: underline;

}

/*忘记密码显示*/
#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}




