html, body {
    background-image: url('/nic/image/nic.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /*background-color: yellow;*/
}

.half {
    float: left;
    position: relative;
    width: 50%;
    min-width: 5em;
    height: 100%;
    /*background-color: rgba(222, 111, 222, 0.5);*/
}

.login {
    float: left;
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border-radius: 5%;
    border: 0.3em solid rgba(172, 204, 119, 1);
    /*background-color: rgba(4, 111, 222, 0.5);*/
}

.line {
    width: auto;
    height: auto;
    margin-top: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(4, 111, 222, 0.5);*/
}

/*头像*/
.avatar {
    width: 5em;
    border-radius: 100%;
    text-align: center;
    border: 0.25em solid rgba(172, 204, 119, 1);
}

/*账号密码图片*/
.labelPicture {
    float: left;
    width: 2.5em;
    height: 2.5em;
    margin-top: 1em;
    background-color: rgba(172, 204, 119, 1);
}

/*文本框*/
.text_field {
    float: left;
    width: 40%;
    height: 3em;
    margin-top: 1em;
    color: darkgreen;
    border: double;
    border-width: 0.5em;
    border-color: rgba(172, 204, 119, 1);
}

/*登录按钮*/
.btn_login {
    width: 40%;
    height: 2.5em;
    border: 0;
    text-align: center;
    line-height: 15%;
    font-family: 微软雅黑;
    font-size: 100%;
    color: darkgreen;
    background-color: rgba(172, 204, 119, 1);
}

/*忘记密码效果*/
.signUp {
    float: left;
    position: relative;
    margin-left: 30%;
    font-size: 1em;
    font-family: 微软雅黑;
    color: rgba(172, 204, 119, 1);
    text-decoration: none;
    text-decoration: underline;

}




