body {
    background-image: url('/nic/image/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

table {
    text-align: center;
    width: 100%;
}

tr {
    background-color: lightgreen;
}