body {
    background-color: antiquewhite;
}

.pictureName {
    float: left;
    position: relative;
    height: auto;
    width: 90%;
    text-align: center;
}

.previousPicture {
    float: left;
    position: relative;
    height: 100%;
    width: 5%;
    background-color: deeppink;
}

.pictureWall {
    float: left;
    position: relative;
    height: auto;
    width: 90%;
    text-align: center;
}

.nextPicture {
    float: right;
    position: relative;
    height: 100%;
    width: 5%;
    background-color: forestgreen;
}

.picture {
    max-width: 100%;
    height: 90%;
}